.button {
  background-color: #31572c;
}

.burger {
  width: 100%;
}

.burger::before,
.burger::after {
  content: "";
  display: block;
  height: 1px;
  width: 40px;
  margin: auto;
  background-color: white;
  position: relative;
  transition: transform 0.3s;
}

.burger::after {
  top: -5px;
}
.burger::before {
  top: 5px;
}

.burger-active::after {
  transform: rotate(45deg);
  top: -1px;
}

.burger-active::before {
  transform: rotate(-45deg);
  top: 0px;
}
