@import url("https://fonts.googleapis.com/css2?family=Metal&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-metal: "metal", serif;
  --background-image-banner: url("./assets/static/banner.jpg");
  --background-image-popular-plant: url("./assets/static/popular-plant.jpg");
  --color-nav: #264027;
}

@layer components {
  .btn {
    @apply cursor-pointer rounded-sm bg-white p-4 text-center font-medium text-black uppercase transition-colors duration-300 ease-linear hover:bg-black/90 hover:text-white;
  }
  .heading {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
  }
  .plant-text {
    @apply font-metal pr-2 text-3xl font-thin text-[#386641] italic sm:text-4xl md:text-5xl lg:text-6xl;
  }
  .input-container {
    @apply flex-col items-start justify-start gap-4 space-y-4;
  }
  .input {
    @apply block w-80 min-w-full rounded-lg border border-slate-300 px-2 py-1.5 focus:outline-green-800/50 sm:w-full lg:w-full lg:rounded-sm lg:py-3;
  }
}
